**Aluno:** Douglas Leite Leal Moura

**Matrícula:** 2020715184

**Trabalho Prático II - Machine Learning**

_Implementação do Algoritmo de Boosting_

## 1. Introdução

### 1.1 Objetivo

Nosso foco neste trabalho prático é ganhar experiência com o processo de Boosting. Você deverá implementar o processo de Boosting (visto em sala de aula) assumindo um problema de classificação binária com atributos categóricos. Em particular, você deverá realizar os experimentos utilizando o dataset tic-tac-toe, disponı́vel em https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame.

Sua avaliação deverá seguir a metodologia de validação cruzada com 5 partições. A medida de eficácia a ser considerada é a taxa de erro simples. Você deverá implementar todo o processo de Boosting, e portanto não é permitido utilizar soluções prontas (embora não seja necessário implementar funções básicas).

A escolha da linguagem de programação é uma decisão do aluno.

### 1.2 Instruções

Este trabalho utiliza a bibliteca scikit-learn da linguagem Python (versão 3.6).

O ambiente virtual pode ser configurado mediante a execução dos seguintes comandos no terminal:

$ virtualenv -p python3 .env

$ source .env/bin/activate

$ pip install -r requirements.txt

A sequência de comandos abaixo faz os imports necessários para a execução dos experimentos:

In [9]:
import numpy as np
import pandas as pd

## 2. Conjunto de dados

O conjunto de dados foi importado utilizando Pandas, uma poderosa biblioteca Python criada para a manipulação e análise de dados.

In [10]:
DATA_URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data"

data = pd.read_csv(DATA_URL, header=None)

In [11]:
data

     0  1  2  3  4  5  6  7  8         9
0    x  x  x  x  o  o  x  o  o  positive
1    x  x  x  x  o  o  o  x  o  positive
2    x  x  x  x  o  o  o  o  x  positive
3    x  x  x  x  o  o  o  b  b  positive
4    x  x  x  x  o  o  b  o  b  positive
..  .. .. .. .. .. .. .. .. ..       ...
953  o  x  x  x  o  o  o  x  x  negative
954  o  x  o  x  x  o  x  o  x  negative
955  o  x  o  x  o  x  x  o  x  negative
956  o  x  o  o  x  x  x  o  x  negative
957  o  o  x  x  x  o  o  x  x  negative

[958 rows x 10 columns]